#top
.header {
  position: fixed;
  font-family: Courier;
  font-size: 60px;
  font-style: italic;
}

.headerTag {
  position: fixed;
  font-family: Courier;
  font-size: 16px;
  font-style: italic;
  left: 34%;
  margin-top: 45px;
}

.banner{
  background-color: #ffffff;
  position: fixed;
  height: 120px;
  background-position: center;
  width: 100%;
  z-index: -1;
}

.image {
  background-image:url("dannie-jing-3GZlhROZIQg-unsplash.jpg"); 
  width: 100%;
  height: 400px;
  top: 120px;
  background-position: center;
  position: relative;
  border: 3px solid #000000;
  z-index: -2;
}

.imageText {
  top: 40%;
  left: 44%;
  color: #ffffff;
  font-family: Courier New;
  font-size: 70px;
  text-align: center;
  position: absolute;
}

a#sideButton {
  text-decoration: none;
  color: #fff;
  background-color: #000000;
  font-size: 18px;
  font-family: Courier New;
  display: inline-block; 
  width: 33.333333333333%;
  height: 30px;
  text-align: center;
  position: relative; 
  top: 70px;
  margin-bottom: 5px;
  padding-top: 10px;
  border: 3px solid #000000;
}

a#sideButton:hover {
  position:fixed;
  color: #000000; 
  background-color:#ffffff;
  z-index:0;
}

#content {
  top:125px;
  display: inline-block;
  position: relative;
  font-family: Courier New;
  font-size: 48px;
  z-index:-2;
}

.pageContent {
  position:relative;
  font-size: 24px;
}

.contentHeader {
  font-size: 28px;
  font-style: italic;
}